{% load static %}
<html>
    <head>
        {% block extra_head %}
        <title>Hypno Mixer</title>
        <meta charset="UTF-8">
        <meta name="robots" content="noindex,nofollow" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{% static 'css/home.css' %}">
        <link rel="stylesheet" href="{% static 'css/card.css' %}">

        {% endblock %}
    </head>

<body>

{% block content %}

<div class=navigation>
    <ul>
      <li> <a href="/portal/preambles/about">about</a>
      <li> | <a href="{% url 'logout' %}?next={{next.path}}">log out</a></li>
    </ul>
  </div>

<h1>H Y P N O  _  M I X E R</h1>
<br><br>
<!-- 
 <div class="card">
  <img src="https://i.imgur.com/ob343qN.jpg">
</div> 
-->
    <center>
    <img class="hex" src="https://i.imgur.com/3egrIw5.png">
    </center>

    <center><h3><a href="/portal/preambles/why">Why Hypnosis?</a></h3></center>

    <br><br>

    <center><h3><a href="/portal/preambles/my-use-cases">My Personal Use Case for Self-Hypnosis</a></h3></center>

    <br><br>

    <center><h3><a href="/portal/preambles/method">How To: The Method and The Technique</a></h3></center>

    <br><br>
    <hr class="style-one">
    
    <center>
        <h1> = PRACTICAL RESOURCES = </h1>
        <br>
          <br>
    <div class="container flex-container wrap">

    <ul>    
        <h4> Inductions </h4>
        <div class="box">
        {% for induction in inductions  %}
            <li class="flex-item"> - <a href="/portal/inductioning/{{induction.slug}}">{{induction.title}}</a>  {% if induction.essentia1 %}  <span>Essential</span>{% endif %}</li>
        {% endfor %}
        </div> <!-- end  box -->
    </ul>


    <ul>        
        <h4> Customized <br> Scripts </h4>
        <div class="box">
        {% for script in scriptsuggestions %}
            <li class="flex-item"> - <a href="{% url 'contents:scriptsuggestion_detail' slug=script.slug %}">{{script.title}}</a>  {% if script.essentia1 %}  <span>Essential</span>{% endif %}</li>
        {% endfor %}
         </div> <!-- end  box -->
    </ul>

    <ul>        
        <h4> Base \ Source <br> Scripts </h4>
        <div class="box">
        {% for script in stockscripts %}
            <li class="flex-item"> - <a href="/portal/stock_scripting/{{script.slug}}">{{script.title}}</a>  {% if script.essentia1 %}  <span>Essential</span>{% endif %}</li>
        {% endfor %}
        </div> <!-- end  box -->
    </ul>

    <ul>    
        <h4> Binaural <br> Audio Files </h4>
        <div class="box">
        
        {% for item in binaurals  %}
            <li class="flex-item"> - {{item.author_last_name}} ({{item.publication_year}}) <a href="{{item.address}}">{{item.title}}</a> </li>
        {% endfor %}
    </ul>
    </div>
    </center>

    <center>
        <h1> = RESEARCH = </h1>
        <br>
    <div class="container flex-container wrap"> 
    
    <ul>      
        <h4> My Research </h4>
        <br>
        <div class="box">
        {% for point in research  %}
            <li class="flex-item"> - <a href="/portal/researching/{{point.slug}}">{{point.title}}</a>  {% if point.essentia1 %} <span>Essential</span>{% endif %}</li>
        {% endfor %}
        </div> <!-- end  box -->
    </ul>
    
    <ul>      
        <h4> Assorted Periodicals </h4>
        <div class="box">
        
        {% for article in assorted_periodicals  %}
            <li class="flex-item"> - <strong>{{article.media_type}}</strong>: {{article.author_last_name}} ({{article.publication_year}}) <a href="{{article.address}}">{{article.title}}</a> </li>
        {% endfor %}
        </div> <!-- end  box -->
    </ul>    

    <ul>    
        <h4> Select <br> Literature </h4>
        <div class="box">
            {% for literature_instance in assorted_literature  %}
                <li class="flex-item"> - <strong>{{literature_instance.media_type}}</strong>: {{literature_instance.author_last_name}} ({{literature_instance.publication_year}}) <a href="{{literature_instance.address}}">{{literature_instance.title}}</a> </li>
            {% endfor %}
        
        </div> <!-- end  box -->
    </ul>

    <ul>      
        <h4> The New York Times </h4>
        <div class="box">
        {% for article in nytimes  %}
            <li class="flex-item"> - <a href="/portal/nytimesing/{{article.slug}}">{{article.title}}</a>  {% if article.essentia1 %} <span>Essential</span>{% endif %}</li>
        {% endfor %}
        </div> <!-- end  box -->
    </ul>    
    
     <ul>      
        <h4> The Toronto Star </h4>
        <div class="box">
        {% for article in torstar  %}
            <li class="flex-item"> - <a href="/portal/torstaring/{{article.slug}}">{{article.title}}</a>  {% if article.essentia1 %} <span>Essential</span>{% endif %}</li>
        {% endfor %}
        </div> <!-- end  box -->
    </ul>    

     <ul>      
        <h4> The Wall Street Journal </h4>
        <div class="box">
        {% for article in wsj  %}
            <li class="flex-item"> - <a href="/portal/wsj-ing/{{article.slug}}">{{article.title}}</a>  {% if article.essentia1 %} <span>Essential</span>{% endif %}</li>
        {% endfor %}
        </div> <!-- end  box -->
    </ul>    


</div> <!-- end flex container -->

</center>
{% include 'partials/_footer.html' %}
{% endblock %}


</body>
</html>