{% load static %}

{% block extra_head %}
<title>Hypno Mixer</title>
<meta charset="UTF-8">
<meta name="robots" content="noindex,nofollow" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/card.css' %}">
{% endblock %}

{% block content %}

<center><a href="{% url 'logout' %}?next={{next.path}}"> Log out? </a></center>
<br>

<h1>H Y P N O  _  M I X E R</h1>

<br>
<br>
<!-- 
 <div class="card">
  <img src="https://i.imgur.com/ob343qN.jpg">
</div> 
-->
<center>
    <img class="hex" src="https://i.imgur.com/3egrIw5.png">
  </center>

    <br>
    

    <center><h4><a href="/preambles/why">IN GENREAL : WHY HYPNOSIS?</a></h4></center>

    <br><br>

    <center><h4><a href="/preambles/my-use-cases">MY PERSONAL USE CASES FOR SELF-HYPNOSIS</a></h4></center>

    <br><br>

    <center><h4><a href="/preambles/method">HOW TO : THE METHOD</a></h4></center>

    <br><br>

<div class="container flex-container wrap">
    <ul>      
        <h4> RESEARCH <br> (STUDY NOTES) </h4>
        <div class="box">
        {% for point in research  %}
            <li class="flex-item"> - <a href="/researching/{{point.slug}}">{{point.title}}</a>  {% if point.essentia1 %} <span>Essential</span>{% endif %}</li>
        {% endfor %}
        </div> <!-- end  box -->
    </ul>    

    <ul>    
        <h4> INDUCTIONS </h4>
        <div class="box">
        {% for induction in inductions  %}
            <li class="flex-item"> - <a href="/inductioning/{{induction.slug}}">{{induction.title}}</a>  {% if induction.essentia1 %}  <span>Essential</span>{% endif %}</li>
        {% endfor %}
    </div> <!-- end  box -->
    </ul>


    <ul>        
        <h4> CUSTOMIZED <br> SCRIPTS </h4>
        <div class="box">
        {% for script in scriptsuggestions %}
            <li class="flex-item"> - <a href="/scripting/{{script.slug}}">{{script.title}}</a>  {% if script.essentia1 %}  <span>Essential</span>{% endif %}</li>
        {% endfor %}
         </div> <!-- end  box -->
    </ul>

    <ul>        
        <h4> BASE \ SOURCE <br> SCRIPTS </h4>
        <div class="box">
        {% for script in stockscripts %}
            <li class="flex-item"> - <a href="/stock_scripting/{{script.slug}}">{{script.title}}</a>  {% if script.essentia1 %}  <span>Essential</span>{% endif %}</li>
        {% endfor %}
    </div> <!-- end  box -->
    </ul>

    <!-- <ul>
        <h4> JOURNALING <br>[ defunct ] </h4>
        <div class="box">
        {% comment %}
        {% for point in journals  %}
            <li class="flex-item"> <a href="/researching/{{point.slug}}">{{point.title}}</a></li>
        {% endfor %}{% endcomment %}
        </div> <!-- end  box
    </ul>-->
 
  <ul>
    
    <h4> SELECT <br> LITERATURE </h4>
    <div class="box">
        <li class="flex-item"> - <strong>Book</strong>: <a href="https://www.dropbox.com/s/v99vg9d8mtyytn4/Forbes%20Robbins%20Blair%20-%20Instant%20Self-Hypnosis_%20How%20to%20Hypnotize%20Yourself%20with%20Your%20Eyes%20Open%20%282004%29.pdf?dl=0">Blair (2004) Instant Self-Hypnosis - How to Hypnotize Yourself with Your Eyes Open.pdf</a></li>
        <li class="flex-item"> - <strong>Book</strong>: <a href="https://www.dropbox.com/s/c0bqibrcz7viwd9/Forbes%20Blair%20-%20Self-Hypnosis%20Revolution_%20The%20Amazingly%20Simple%20Way%20to%20Use%20Self-Hypnosis%20to%20Change%20Your%20Life%20%282007%2C%20Sourcebooks%2C%20Inc.%29%20-%20libgen.lc.pdf?dl=0">Blair (2007) Self-Hypnosis Revolution - The Amazingly Simple Way to Use Self-Hypnosis to Change Your Life.pdf</a></li>
        <li class="flex-item"> - <strong>Book</strong>: <a href="https://www.dropbox.com/s/kqzlu7jh0vzdafr/MORE%20Instant%20Self%20Hypnosis_%20Hypnotize%20Yourself%20As%20You%20Read%20%28PDF%29.pdf?dl=0">Blair (2010) MORE Instant Self Hypnosis - Hypnotize Yourself As You Read.pdf</a></li>
        <li class="flex-item"> - <strong>Book</strong>:  <a href="https://www.dropbox.com/s/4qmacw7anezcn22/POSH%20Manual%20Final.pdf?dl=0">Ledochowski (2008) The Power of Self-Hypnosis For Guaranteed Results Home Study Program Manual Final.pdf</a></li>
        <li class="flex-item"> - <strong>Udemy</strong>: Burns' <a href="https://www.udemy.com/course/self-hypnosis-mastery-hypnosis-for-personal-development/">Self Hypnosis Mastery: Hypnosis for Personal Development</a></li>
        <li class="flex-item"> - <strong>Udemy</strong>: Burns' <a href="https://www.udemy.com/course/hypnotherapy-mastery-the-ultimate-hypnotherapy-training/">Hypnotherapy Practitioner Certificate (Hypnotherapy Mastery)</a></li>
        <li class="flex-item"> - Michael Newton's Life Between Lives? </li>
        <li class="flex-item"> - Georgina Canon's books?</li>
    </div> <!-- end  box -->
    </ul>

    <ul>    
        <h4> BINAURAL <br> AUDIO FILES</h4>
        <div class="box">
        <li class="flex-item"> - <a href="https://www.dropbox.com/s/mxmtgjg9oh0oq1l/6hz%20Theta%20-%20Fantasy.mp3?dl=0">6hz Theta - Fantasy.mp3</a></li>
        <li class="flex-item"> - <a href="https://www.dropbox.com/s/2tppj5e53kb30l0/4hz%20Theta%20-%20Drowsy.mp3?dl=0">4hz Theta - Drowsy.mp3</a></li>
        <li class="flex-item"> - <a href="https://www.dropbox.com/s/iji5i0nh1rtscwz/Birds%20%2B%20Brook%20loop.wav?dl=0">Birds and brook.wav</a> ambient noises</li>
        <li class="flex-item"> - <a href="https://www.dropbox.com/s/b4xa8urb0584a6t/Rain%20%2B%20Thunder%20loop.wav?dl=0">Rain and thunder.wav</a> ambient noises</li>
        <!-- 
        <li class="flex-item">Placeholder Three.wav</li>
        <li class="flex-item">Placeholder Three.wav</li>
        <li class="flex-item">Placeholder Three.wav</li>-->
        </div> <!-- end  box -->
    </ul>
    
</div> <!-- end flex container -->

{% endblock %}


