body {
    min-height: 100vh;
    background: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
    }
    
h1 {
    margin: auto;
    text-align: center;
    margin-top:50px;
    color: black;
    }
    
h3 {
    margin: auto;
    text-align: center;
    color: black;
    }
    
h4 {
    margin: auto;
    text-align: center;
    margin-bottom:15px;
    color: black;
    font-weight: none;
    }

.flex-container {
    padding: 0;
    margin: auto;
    list-style: none;
    border: 1px solid silver;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    width:75%;
    max-width: 900px;
  }
.wrap    { 
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    border-radius: 15px;
  }  
.wrap li {
    /*background: gold;*/
    /*line-height: 2em;*/
    padding-bottom:15px;
  }
  
.flex-item {
    /*background: tomato;
    padding: 5px;*/
    width: 225px;
    /*height: 100px;*/
    margin: 4px;        
    /*line-height: 100px;*/
    
    
    /*font-weight: bold;*/
    font-size: 1em;
    text-align: left;
    list-style-type: circle;
    color: black;
  }
ul {
padding-left:7px;
margin-left:25px;
margin-right:25px;
/*line-height: 2em;*/
}


a {
color: #006200; 
text-decoration: underline;
/*text-decoration: none;*/
font-family: sans-serif;
/*font-weight: bold;*/
margin-top: 2rem;
}

a:hover {
  text-decoration: none;
  color: #2771b5; 
}

a:active {
  color: gray;
}

/*a:visited {
  color: indigo;
}*/

img {
width:80%;
}
.hex {
width:15%;
margin-bottom: 50px;
}

.box {
  max-height: 350px;
  overflow: auto;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 15px;
  height: 0px;
  }
  
  ::-webkit-scrollbar-track {
  border: 1px solid gray;
  border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
  background: gray;  
  border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
  background: black;  
  }